body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f9f5;
    color: #333;
}

header {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

nav {
    background-color: #1b5e20;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
    text-align: justify;
}

.section h2 {
    color: #2e7d32;
    border-bottom: 2px solid #81c784;
    padding-bottom: 5px;
}

.section img {
    display: block;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

footer {
    text-align: center;
    background-color: #1b5e20;
    color: white;
    padding: 15px;
}

#voltarTopo {
    background-color: #81c784;
    border: none;
    color: #1b5e20;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

#voltarTopo:hover {
    background-color: #66bb6a;
}
.slideshow-container {
    max-width: 800px;
    margin: 20px auto;
    position: relative;
}

.slide {
    display: none;
}
.slide{ text-align: center;}

.slide img {
    width: 50%;
    border-radius: 12px;
    display: inline-block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(5, 90, 12, 0.5);
    color: white;
    padding: 10px 14px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}

.prev { left: 20px; }
.next { right: 20px; }
